* {
    box-sizing: border-box;
}
body {
    position: relative;
    background-image: url("../images/background.jpg");
    background-repeat:repeat;
    background-size:15rem;    
}
h1{
    color: gold;
    background-color: rgba(29, 27, 27, 0.664);
    width: 450px;
    height: 50px;
    border-radius: 20%;
    margin-left: 370px;
    margin-bottom: -30px;
    
}


table,th,td {
    margin-left: 350px;
    margin-top: 100px;
    border: 2px solid black;
    width: 500px;
    height: 400px;
    background-color: lightblue;
    font-weight: bolder;
    font-size: large;
}
.cell {
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.time{
    position: absolute;
    margin-top: 100px;
    width: 100px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 100px;
    padding: 10px;
    border-radius: 30px;
}
.level {
    background-color: rgba(29, 27, 27, 0.664);
    position: absolute;
    height: 270px;;
    padding: 20px;
    margin-top: 170px;
    margin-left: 30px;
    display: unset;
    border-top-right-radius: 26%;
    border-top-left-radius: 26%;
    border-bottom-right-radius: 53%;
    border-bottom-left-radius: 46%;
}
.text {   
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background-color: blue;
    padding: 5px;
    padding-top: 20px;
    font-size: x-large;
    font-weight:bold;

}

ul,li{
    padding-top: 10px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    color: white;
    text-align: center;
    font-size:medium;
    margin-top: 30px;
    border-radius: 50%;
}

.lostContainer{
    background-color: rgba(29, 27, 27, 0.664);
    position: absolute;
    right: 0;
    margin-top: 141px;
    display: none;
}
.txtOnly{
    color: white;
    margin-right: 80px;
    font-size: x-large;
}
.losePic {
    margin-top: 70px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    width: 400px;
    height: 200px
}
.here {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}
.winContainer{
    background-color: rgba(29, 27, 27, 0.664);
    position: absolute;
    right: 0;
    margin-top: 178px;
    display: none;
}
.txtOnlyWin{
    right: 0;
    color: white;
    margin-right: 65px;
    font-size: large;
    
}
.winPic {
    margin-top: 35px;
    position: absolute;
    right: 0;
    margin-right: 10px;
    width: 400px;
    height: 200px
}
.hereWin {
    cursor: pointer;
    color: blue;
    font-weight: bold;
}

.emoji{
    cursor: pointer;
}
